.light{
    height:100px;
    width:100px;
}

#darkred{
   background-color: darkred !important;
}

#darkyellow{
    background-color:darkgoldenrod !important;
}

#darkgreen{
    background-color:darkgreen !important;
}

#red{
    background-color: red !important;
}


#yellow{
    background-color: yellow !important;
}


#green{
    background-color: green !important;
}
